
.container {
  display: flex;
  justify-content: space-between;
  width: 600px;
  height: 800px;
}

.chart-container {
  width: 45%;
  height: 45%; 
}

.list-container {
  width: 100%; 
  overflow: auto;
}

